{% extends "index.html" %}

{% block title %}
    <title>Seznam dotazů | Aplikace lékař online</title>
{% endblock %}

{% block content %}
    <h1>Seznam dotazů od pacientů</h1>

    <div class="input-list">
      <ul>
        {% for item in page_obj %}
          <li>
            <a href="{% url 'inputs_detail' item.pk %}">
              <div class="p-3">
                <h5>{{ item.question_name }}</h5>
                <p class="small">{{ item.question_text|truncatechars:100 }}<br /><span>Zobrazit více</span></p>
                <div class="topic">
                  <p class="topic-text">Téma: {{ item.question_topic }}</p>
                  <p>Odpověď lékaře: {% if item.answer %}<i class="mdi mdi-check"></i>{% else %}<i class="mdi mdi-close"></i>{% endif %}</p>
                </div>
              </div>
            </a>
          </li>
          {% empty %}
          <p>Žádné otázky nebyly dosud položeny.</p>
        {% endfor %}
      </ul>
      <div class="text-center">
        <a class="btn btn-primary" href="{% url 'input_create' %}">Položit vlastní dotaz</a>
      </div>
    </div>
{% endblock %}