{% extends "index.html" %}

{% block title %}
    <title>Detail dotazu | Aplikace lékař online</title>
{% endblock %}

{% block content %}
  <h1>{{ object.question_name }}</h1>
  <p>{{ object.firstname }} {{ object.lastname }}</p>
  <p>{{ object.email }}</p>
  <p>{{ object.note }}</p>

{% if user.is_authenticated and user.is_superuser %}
<a href="{% url 'input_update' object.pk %}">Editovat otázku</a>
<a href="{% url 'input_delete' object.pk %}">Smazat otázku</a>
{% endif %}
<a href="{% url 'inputs_list' %}">Zpět na seznam otázek</a>
{% endblock %}