$primary: #2a8992;
$light: #f2f2f2;

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    max-width: 1920px;
    font-family: "Poppins", sans-serif;
}

a {
    color: $primary;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.bg-light {
    background-color: $light;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    font-size: 12px;

    p, a {
        margin-bottom: 6px;
        color: white;
    }
}

header {
    background-color: $light;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    height: 80px;
    z-index: 5;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .menu {
            display: flex;
            align-items: center;

            .navbar-toggler {
                padding: 10px;
                display: none;

                @media (max-width: 920px) {
                    display: block;
                }
            }

            .mdi-menu {
                font-size: 28px;
            }
        }

        .navbar {
            height: 100%;
            display: flex;

            @media (max-width: 920px) {
                position: absolute;
                height: auto;
                top: -100%;
                left: 0;
                z-index: 4;
                background-color: rgba($color: #fff, $alpha: 0.9);
                flex-direction: column;
                width: 100%;
                transition: top .5s;

                &.show {
                    top: 80px;
                    transition: top .5s;
                }
            }
        }

        .nav-item {
            height: 100%;
            padding: 20px;
            text-decoration: none;
            font-size: 18px;
            text-transform: uppercase;
            color: black;
            font-weight: 500;
        }
    }

    .user {
        display: flex;
        gap: 15px;
        align-items: center;

        .mdi {
            font-size: 24px;
        }

        button {
            border: none;
        }
    }
}

main {
    padding: 20px 0 40px 0;
    height: 100%;
    flex-grow: 1;

    h1 {
        text-align: center;
        padding: 20px 0 40px 0;
        color: #2a8992;
    }

    .banner {
        margin-top: -20px;
        margin-bottom: 40px;
        position: relative;

        .img-desktop {
            @media (max-width: 920px) {
                display: none;
            }
        }

        .img-mobile {
            @media (min-width: 921px) {
                display: none;
            }
        }

        h1 {
            position: absolute;
            top: 50%;
            left: 15%;
            color: white;
            font-size: 58px;
            font-weight: 900;
            transform: translateY(-50%);
            z-index: 3;

            @media (max-width: 920px) {
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }

            @media (max-width: 650px) {
                font-size: 36px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.2);
            z-index: 2;
        }
    }

    .claim {
        font-size: 26px;
        font-weight: 500;
        text-align: center;

        @media (max-width: 920px) {
            font-size: 22px;
        }
    }
}

.input {
    .row > * {
        margin-bottom: 10px;
    }
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover {
        background-color: black;
        border-color: black;
    }
}

.btn-outline-primary {
    border-color: $primary;
    color: $primary;

    &:hover {
        background-color: $primary;
        border-color: $primary;
        color: white;
    }
}

.btn {
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px 35px;
}

.input-list {
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 50px;

        li {
            background-color: $light;
            margin-bottom: 15px;
            transition: all .5s;

            &:hover {
                box-shadow: 0 3px 8px rgba(0,0,0,0.2);
                background-color: #eae7e7;
                transition: all .5s;
            }
            
            h5, p, a {
                color: black;
                text-decoration: none;
            }

            p {
                margin-bottom: 0;

                span {
                    text-decoration: underline;
                    font-weight: 600;
                }
            }
        }
    }
}

.nonexist {
    text-align: center;

    .mdi {
        columns: $primary;
        font-size: 60px;
    }
}