{% extends "index.html" %}

{% block title %}
    <title>O projektu | Aplikace lékař online</title>
{% endblock %}

{% block content %}
    <h1>O projektu</h1>
    <h2>Vítejte v aplikaci Lékař online – v místě, kde vaše zdraví je na prvním místě</h2>
    <p>Máte zdravotní problém nebo otázku týkající se vašeho zdraví? Hledáte odborné rady přímo od lékařů? Přinášíme vám možnost položit dotaz na jakékoli zdravotní téma, a to jednoduše a rychle.</p>
    <h3>Jak to funguje?</h3>
    <p><strong>Položte dotaz</strong></p>
    <p>Vyplňte krátký formulář s vaším dotazem. Nemusíte sdělovat žádné osobní údaje, důležitý je jen váš dotaz.<br /><strong></strong></p>
    <p><strong>Odpověď od lékaře</strong></p>
    <p>Na každý dotaz odpoví kvalifikovaný lékař s odbornými znalostmi v dané oblasti. Naše lékařská komunita zahrnuje odborníky z různých oborů, kteří vám poskytnou relevantní a odborné informace.<br /><strong></strong></p>
    <p><strong>Databáze dotazů a odpovědí</strong></p>
    <p>Každý dotaz a odpověď zůstávají anonymně uloženy v naší databázi, aby mohly pomoci i dalším uživatelům s podobnými otázkami. Můžete si tedy pročíst dotazy ostatních a zjistit, zda odpověď na váš dotaz již neexistuje.</p>
    <h3>Proč zvolit naši aplikaci?</h3>
    <p><strong>Odborné odpovědi</strong></p>
    <p>Spolupracujeme s kvalifikovanými lékaři, kteří zaručují odborné a ověřené informace.<br /><strong></strong></p>
    <p><strong>Rychlá a snadná konzultace</strong></p>
    <p>Už nemusíte čekat na návštěvu lékaře. Položte dotaz online a získejte radu rychle a pohodlně.<br /><strong></strong></p>
    <p><strong>Bezpečnost a anonymita</strong></p>
    <p>Vaše dotazy jsou zcela anonymní a chráněny, takže se nemusíte obávat o své soukromí.</p>
    <p>Začněte ještě dnes – zdraví máte na dosah!</p>
    <p>Položte svůj první dotaz a přidejte se k naší rostoucí komunitě, která si vzájemně pomáhá a šíří zdraví.</p>
{% endblock %}