<header>
  <div class="container">
    <div class="brand">
      <a href="{% url 'core' %}"><img src="/static/img/logo_lekar.png" alt="logo" /></a>
    </div>
    <nav class="navbar navbar-expand-lg">
      <a class="nav-item" href="{% url 'core' %}">Domů</a>
      <a class="nav-item" href="{% url 'about' %}">O projektu</a>
      <a class="nav-item" href="{% url 'inputs_list' %}">Seznam dotazů</a>
      <a class="nav-item" href="{% url 'input_create' %}">Přidat dotaz</a>
    </nav>

    <div class="user">
      {% if user.is_authenticated %}
        <i class="mdi mdi-account"></i><a href="{% url 'profile' %}">{{ user }}</a>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit"><i class="mdi mdi-logout"></i></button>
        </form>
      {% else %}
        <a href="{% url 'login' %}">Uživatelský účet</a>
      {% endif %}
    </div>
  </div>
</header>