{% extends "index.html" %} 

{% block title %}
    <title>Zásady zpracování osobních údajů | Aplikace lékař online</title>
{% endblock %} 

{% block content %}
    <h1>Zásady zpracování osobních údajů</h1>
    <h4>
    <strong>1. Základní ustanovení</strong>
    </h4>
    <ul>
    <li>I. Správcem osobních údajů podle čl. 4 bod 7 nařízení Evropského parlamentu a Rady (EU) 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen: " <strong>GDPR</strong>") je Valeriia Ginserovska, IČO 06574921 se sídlem Nedomická 562, Všetaty 27716 (dále jen: " <strong>správce</strong>"). </li>
    <li>II. Kontaktní údaje správce jsou <ul>
        <li>adresa:&nbsp;Nedomická 562, Všetaty 27716</li>
        <li>e-mail:&nbsp;&nbsp;info@dobrenositko.cz</li>
        <li>telefon: +420792239770</li>
        </ul>
    </li>
    <li>III. Osobním údajem se ve smyslu nařízení Evropského parlamentu a Rady (EU) 2016/6792016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (dále jen "GDPR") rozumí veškeré informace o identifikované nebo identifikovatelné fyzické osobě. Zásady se týkají zpracování Vašich osobních údajů, jakožto subjektů údajů, kteří byli na tyto Zásady odkázáni a dále všech návštěvníků webových stránek www.dobrenositko.cz.</li>
    </ul>
    <h4>
    <strong>2. Zdroje a účel zpracování osobních údajů</strong>
    </h4>
    <ul>
    <li>I. Správce zpracovává osobní údaje, které jste mu poskytl/a nebo osobní údaje, které správce získal na základě plnění Vaší objednávky.</li>
    <li>II. Správce zpracovává Vaše identifikační a kontaktní údaje a údaje nezbytné pro plnění smlouvy.</li>
    <li>III. Správce zpracovává osobní údaje na základě zákonného důvodu, či oprávněného zájmu, jehož cílem je plnění smlouvy.</li>
    <li>IV. Zákonným důvodem zpracování osobních údajů je <ul>
        <li>• plnění smlouvy mezi Vámi a správcem podle čl. 6 odst. 1 písm. b) GDPR,</li>
        <li>• oprávněný zájem správce na poskytování přímého marketingu (zejména pro zasílání obchodních sdělení a newsletterů) podle čl. 6 odst. 1 písm. f) GDPR,</li>
        <li>• Váš souhlas se zpracováním pro účely poskytování přímého marketingu (zejména pro zasílání obchodních sdělení a newsletterů) podle čl. 6 odst. 1 písm. a) GDPR ve spojení s § 7 odst. 2 zákona č. 480/2004 Sb., o některých službách informační společnosti v případě, že nedošlo k objednávce zboží nebo služby.</li>
        </ul>
    </li>
    <li>V. Účelem zpracování osobních údajů je <ul>
        <li>• vyřízení Vaší objednávky a výkon práv a povinností vyplývajících ze smluvního vztahu mezi Vámi a správcem; při objednávce jsou vyžadovány osobní údaje, které jsou nutné pro úspěšné vyřízení objednávky (jméno a adresa, kontakt), poskytnutí osobních údajů je nutným požadavkem pro uzavření a plnění smlouvy, bez poskytnutí osobních údajů není možné smlouvu uzavřít či jí ze strany správce plnit,</li>
        <li>• zasílání obchodních sdělení a činění dalších marketingových aktivit.</li>
        <li>• údaje z kontaktního formuláře jsou zpracovány výhradně za účelem zpracování Vašeho dotazu či požadavku. Vaše údaje se používají pouze v rozsahu, který je pro tento účel nezbytný.&nbsp;</li>
        </ul>
    </li>
    </ul>
    <h4>
    <strong>3. Doba uchovávání údajů</strong>
    <strong></strong>
    </h4>
    <ul>
    <li>I. Správce uchovává osobní údaje <ul>
        <li>• po dobu nezbytnou k výkonu práv a povinností vyplývajících ze smluvního vztahu mezi Vámi a správcem a uplatňování nároků z těchto smluvních vztahů</li>
        <li>• po dobu, než je odvolán souhlas se zpracováním osobních údajů pro účely marketingu, nejdéle 5&nbsp;let, jsou-li osobní údaje zpracovávány na základě souhlasu.&nbsp;</li>
        </ul>
    </li>
    <li>II. Po uplynutí doby uchovávání osobních údajů správce osobní údaje vymaže.</li>
    </ul>
    <h4>
    <strong>4. Příjemci osobních údajů (subdodavatelé správce)</strong>
    </h4>
    <ul>
    <li>I. Příjemci osobních údajů jsou osoby:&nbsp; <ul>
        <li>• podílející se na dodání zboží / služeb / realizaci plateb na základě smlouvy,</li>
        <li>• zajišťující služby provozování e-shopu (webové prezentace) a další služby v souvislosti s provozováním e-shopu (webové prezentace).</li>
        <li>• zajišťující marketingové služby.</li>
        </ul>
    </li>
    <li>II. Správce&nbsp;&nbsp;nemá&nbsp;v úmyslu předat osobní údaje do třetí země (do země mimo EU) nebo mezinárodní organizaci.&nbsp;</li>
    </ul>
    <h4>
    <strong>5. Vaše práva</strong>
    </h4>
    <ul>
    <li>I. Za podmínek stanovených v GDPR máte <ul>
        <li>• právo na přístup ke svým osobním údajům dle čl. 15 GDPR,</li>
        <li>• právo na opravu osobních údajů dle čl. 16 GDPR, popřípadě omezení zpracování dle čl. 18 GDPR.</li>
        <li>• právo na výmaz osobních údajů dle čl. 17 GDPR.</li>
        <li>• právo vznést námitku proti zpracování dle čl. 21 GDPR a</li>
        <li>• právo na přenositelnost údajů dle čl. 20 GDPR.</li>
        <li>• právo odvolat souhlas se zpracováním písemně nebo elektronicky na adresu nebo email správce uvedený v čl. III těchto podmínek.</li>
        </ul>
    </li>
    <li>II. Dále máte právo podat stížnost u Úřadu pro ochranu osobních údajů v případě, že se domníváte, že bylo porušeno Vaše právo na ochranu osobních údajů.</li>
    </ul>
    <h4>
    <strong>6. Podmínky zabezpečení osobních údajů</strong>
    </h4>
    <ul>
    <li>I. Správce prohlašuje, že přijal veškerá vhodná technická a organizační opatření k zabezpečení osobních údajů.</li>
    <li>II. Správce přijal technická opatření k zabezpečení datových úložišť a úložišť osobních údajů v listinné podobě.</li>
    <li>III. Správce prohlašuje, že k osobním údajům mají přístup pouze jím pověřené osoby.</li>
    </ul>
    <h4>
    <strong>7. Závěrečná ustanovení</strong>
    </h4>
    <ul>
    <li>I. Odesláním objednávky z internetového objednávkového formuláře potvrzujete, že jste seznámen/a s podmínkami ochrany osobních údajů a že je v celém rozsahu přijímáte.</li>
    <li>II. S těmito podmínkami souhlasíte zaškrtnutím souhlasu prostřednictvím internetového formuláře. Zaškrtnutím souhlasu potvrzujete, že jste seznámen/a s podmínkami ochrany osobních údajů a že je v celém rozsahu přijímáte.</li>
    <li>III. Správce je oprávněn tyto podmínky změnit. Novou verzi podmínek ochrany osobních údajů zveřejní na svých internetových stránkách</li>
    </ul>
    <p></p>
    <p>
    <strong>Souhlas s používáním cookies</strong>
    </p>
    <h2>
    <strong>1. Zpracování cookies</strong>
    </h2>
    <p>Správce Valeriia Ginserovska, IČO 06574921 se sídlem Nedomická 562, Všetaty 27716 jakožto provozovatel webových stránek www.dobrenositko.cz (dále jen „stránky“) používá na těchto stránkách cookies. Sběr a používání cookies je zpracováním osobních údajů ve smyslu nařízení Evropského parlamentu a Rady (EU) č. 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů) (dále jen „Nařízení“).</p>
    <h2>
    <strong>2.&nbsp;Co jsou cookies</strong>
    </h2>
    <p>Cookies jsou datové soubory, které mohou být při návštěvě webových stránek odeslané do Vašeho internetového prohlížeče a uložené do Vašeho zařízení. Soubory cookies se ukládají do složky pro soubory internetového prohlížeče. Cookies obvykle obsahují název webové stránky, ze které pocházejí a datum svého vzniku. Při další návštěvě dané webové stránky internetový prohlížeč opět načte soubory cookies a tyto informace odešle zpět webové stránce, která cookies vytvořila. Pomocí technických cookies je možné zajistit funkčnost stránek, pomocí dalších cookies stránky pamatují Vaše nastavení a také umožňují sledovat Vaše chování na webových stránkách anebo zacílit reklamu.&nbsp;</p>
    <p>
    <strong>3. Jaké cookies jsou využívány</strong>
    </p>
    <p>Na svých webových stránkách používáme následující typy souborů cookies:</p>
    <ul>
    <li>nutné soubory cookies vyžadované k činnosti webových stránek, které jsou nezbytné pro zajištění základní funkčnosti využívání našich webových stránek</li>
    <li>analytické soubory cookies Google Analytics, vyvinutý a provozovaný Google Inc. Tyto soubory cookies se používají pouze s Vaším souhlasem a slouží pro získání údajů o návštěvnosti webových stránek, identifikují původ návštěvy, sbírají informace o tom, jak návštěvník tyto webové stránky využívá. Tyto soubory cookies slouží ke zlepšování a zjednodušení funkčnosti webových stránek.</li>
    <li>marketingové cookies Google Ads shromážděné a zpracovány provozovatelem Google Inc. a Facebook pixel (měřící kód) shromážděné a zpracovány provozovatelem Meta Platforms. Tyto soubory cookies se používají pouze s Vaším souhlasem a slouží k cílení marketingových a reklamních sdělení.</li>
    </ul>
    <h2>
    <strong>4.&nbsp;Kontrola nad cookies</strong>
    </h2>
    <ul>
    <li>Nastavení cookies se upravuje při návštěvě webových stránek prostřednictvím okna „Nastavení cookies“, které se zobrazuje, dokud se neprovede individualizované nastavení dle své svobodné volby. Nastavení cookies se následně může změnit prostřednictvím lišty v patičce webu pod názvem „Nastavení cookies“.</li>
    <li>Cookies ze zařízení, ze kterého se přistupuje na webové stránky, můžou být vymazány prostřednictvím internetového prohlížeče.</li>
    <li>V internetovém prohlížeči je možné nastavit blokování souborů cookies nebo nastavit informování o každém uložení nového souboru cookies na Vaše zařízení. Při omezení zpracování technických cookies nezbytných pro fungování stránek, nelze zaručit plnou funkčnost webových stránek.</li>
    </ul>
    <h2>
    <strong>5.&nbsp;Cookies třetích stran</strong>
    </h2>
    <p>Správce nemá vliv na cookies třetích stran. Třetí strany jsou samy plně zodpovědny za to, jak jsou jejich soubory cookies používány a jak jsou zpracovávány osobní údaje, včetně jejich šifrování a zabezpečení.</p>
    <p>Tyto podmínky nabývají účinnosti dnem 8.2.2024</p>
{% endblock %}